{% capture itemid %}{{ item.title | replace:' ', '' }}{% endcapture %}
<h2 id="{{ itemid }}"><a href="#{{ itemid }}">{{ item.title }}</a></h2>
<img src="img/items/{{ item.img }}" alt="" class="photo" />
{% if item.price %}
<p><span class="price">{{ item.price | escape_once | replace:'EUR','&euro;' }}</span></p>
{% endif %}
<p>{{ item.description }}</p>
{% if item.link1 %}
<ul class="nav item-links">
  <li><span class="link"><a href="{{ item.link1 | escape }}">Kopen</a></span></li>
{% if item.link2 %}
  <li><span class="link"><a href="{{ item.link2 | escape }}">Kopen</a></span></li>
{% endif %}
{% if item.link3 %}
  <li><span class="link"><a href="{{ item.link3 | escape }}">Kopen</a></span></li>
{% endif %}
</ul>
{% endif %}
