<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="css/style.css" />

	<link rel="shortcut icon" href="icon.png" />
	<link rel="apple-touch-icon" href="icon.png" />
	<link type="text/plain" rel="author" href="humans.txt" />

        <!-- pure CSS "Fork me on GitHub" ribbon by simonwhitaker
             https://github.com/simonwhitaker/github-fork-ribbon-css -->
        <link rel="stylesheet" href="css/gh-fork-ribbon.css" />
        <!--[if IE]>
          <link rel="stylesheet" href="css/gh-fork-ribbon.ie.css" />
        <![endif]-->        
</head>
<body>
	
	<h1>{{ page.title }}</h1>
        {{ content }}
        <div class="github-fork-ribbon-wrapper right">
          <div class="github-fork-ribbon">
            <a href="https://github.com/To1ne/wishlist">Fork me on GitHub</a>
          </div>
        </div>
</body>
</html>
